@model dbShopeeAutomationV2.Models.TShopeeUser

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .logo_img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }

    .div_width {
        height: 100%;
        width: 330px;
    }

    /* Desktop */
    @@media (min-width: 768px) {
        .div_width {
            height: 100%;
            width: 600px;
        }
    }

    .btn_div div {
        margin-right: 10px;
    }

        .btn_div div:last-child {
            margin-right: 0px;
        }
</style>

<div class="header_style h2">
    <strong>NTL Asia Portal</strong>
</div>

<div class="d-flex align-items-center justify-content-center mt-3">
    <div>
        <div class="my-2">
            <img src="~/Content/Images/ntl_logo.png" alt="NTL Asia Portal Login Logo Image" class="logo_img" />
        </div>

        <div id="checkUsernameDiv">
            <div class="border border-dark p-3 div_width">
                <div class="h4">
                    NTL Asia Portal
                </div>
                @using (Html.BeginForm("CheckUsernameExist", "Account", FormMethod.Post, new { @Id = "checkUsernameForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="my-2">
                        <div class="row">
                            <div class="col-3">
                                <label for="username" class="col-form-label">Username</label>
                            </div>
                            <div class="col-9">
                                @Html.TextBoxFor(model => model.username, new { @Class = "form-control", @Type = "text", @Required = "true" })
                            </div>
                        </div>
                    </div>
                }
                <div class="text-danger" id="checkUsernameErrorDiv"></div>
            </div>
            <div class="my-2">
                <div class="d-flex btn_div">
                    <div style="width: 20%">
                        @Html.ActionLink("Back", "Login", "Account", null, new { @Class="btn btn-dark w-100"})
                    </div>
                    <div style="width: 20%">
                        <button id="checkUsernameBtn" form="checkUsernameForm" type="submit" class="btn btn-outline-dark w-100" disabled>Next</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="checkPasswordDiv">
            <div class="border border-dark p-3 div_width">
                <div class="h4">
                    NTL Asia Portal
                </div>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @Id = "checkPasswordForm" }))
                {
                    @Html.HiddenFor(model => model.username)
                    <div class="my-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label for="password" class="col-form-label">Password</label>
                            </div>
                            <div class="col-9">
                                @Html.TextBoxFor(model => model.password, new { @Class = "form-control", @Type = "password", @Required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="my-2">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <label for="repeatPassword" class="col-form-label">Repeat Password</label>
                            </div>
                            <div class="col-9">
                                @Html.TextBox("repeatPassword", "", new { @Class = "form-control", @Type = "password", @Required = "true" })
                            </div>
                        </div>
                    </div>
                }

                <div class="text-danger" id="checkPasswordErrorDiv"></div>
            </div>
            <div class="my-2">
                <div class="d-flex btn_div">
                    <div style="width: 20%">
                        <button id="backToCheckUsernameBtn" class="btn btn-dark w-100" type="button">Back</button>
                    </div>
                    <div style="width: 30%">
                        <button id="checkPasswordBtn" form="checkPasswordForm" type="submit" class="btn btn-primary w-100" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {

            let checkPasswordDiv = $("#checkPasswordDiv"), checkUsernameDiv = $("#checkUsernameDiv");

            // Initialization
            checkPasswordDiv.css("display", "none");

            // Check Input
            $("form[id='checkUsernameForm'] input[name='username']").on("change", _ => {
                let username = $("form[id='checkUsernameForm'] input[name='username']").val();
                $("#checkUsernameBtn").attr("disabled", username.length <= 0);
            });

            // Check Username Form
            let checkUsernameForm = $("form[id='checkUsernameForm']");
            const checkUsername_actionLink = checkUsernameForm.attr("action");
            const checkUsername_methodType = checkUsernameForm.attr("method");

            checkUsernameForm.submit(e => {
                e.preventDefault();
                $.ajax({
                    url: checkUsername_actionLink,
                    type: checkUsername_methodType,
                    data: checkUsernameForm.serialize(),
                    success: response => {
                        let username = $("form[id='checkUsernameForm'] input[name='username']").val();
                        if (response.toLowerCase() === "false") {
                            $("form[id='checkUsernameForm'] input[name='username']").val("");
                            $("#checkUsernameErrorDiv").html(`Error! Username '${username}' does not exist in the database!`);
                            setTimeout(_ => {
                                $("#checkUsernameErrorDiv").html("");
                            }, 2000);
                        } else {
                            $("form[id='checkPasswordForm'] input[name='username']").val(username);
                            checkUsernameDiv.css("display", "none");
                            checkPasswordDiv.css("display", "block");
                        }
                    }
                });
            });

            // Back To CheckUsernameForm
            $("#backToCheckUsernameBtn").on("click", _ => {
                checkUsernameDiv.css("display", "block");
                checkPasswordDiv.css("display", "none");
            });

            // Check Password Form
            let checkPasswordForm = $("form[id='checkPasswordForm']");
            const checkPassword_actionLink = checkPasswordForm.attr("action");
            const checkPassword_methodType = checkPasswordForm.attr("method");

            // Check if password are equals
            $("form[id='checkPasswordForm'] input[name='password']").on("change", _ => {
                let pswd = $("form[id='checkPasswordForm'] input[name='password']").val();
                let rpt_pswd = $("form[id='checkPasswordForm'] input[name='repeatPassword']").val();
                let error_str = (pswd == rpt_pswd || pswd == "" || rpt_pswd == "") ? "" : "Error! Both passwords are not the same!";
                $("#checkPasswordErrorDiv").html(error_str);
                $("#checkPasswordBtn").attr("disabled", pswd != rpt_pswd);

            });

            $("form[id='checkPasswordForm'] input[name='repeatPassword']").on("change", _ => {
                let pswd = $("form[id='checkPasswordForm'] input[name='password']").val();
                let rpt_pswd = $("form[id='checkPasswordForm'] input[name='repeatPassword']").val();
                let error_str = (pswd == rpt_pswd || pswd == "" || rpt_pswd == "") ? "" : "Error! Both passwords are not the same!";
                $("#checkPasswordErrorDiv").html(error_str);
                $("#checkPasswordBtn").attr("disabled", pswd != rpt_pswd);
            });

            $("form[id='checkPasswordForm']").submit(e => {
                e.preventDefault();

                $.ajax({
                    url: checkPassword_actionLink,
                    type: checkPassword_methodType,
                    data: checkPasswordForm.serialize(),
                    success: response => {
                        window.location.href = response;
                    }
                });
            });
            
        });
</script>