@using dbShopeeAutomationV2.Models;

@{
    ViewBag.Title = "Customer Form";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();
    int platform_count = db.TShopeePlatforms.ToList().Count;
}

@if (platform_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    <li>There is no existing Platform. Please make a platform before you proceed!</li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("CustomerGridViewPartialAddNew", "Customer", FormMethod.Post, new { @Id = "customerForm" }))
            {

                <div class="to_remove">
                    <div class="row m-2">
                        <div class="col">
                            <label>Platform Name: </label>
                            @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "platform_id";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueField = "platform_id";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(db.TShopeePlatforms.ToList()).GetHtml()
                        </div>
                        <div class="col">
                            <label>Email Address: </label>
                            @Html.TextBox("email_address", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col">
                            <label>First Name: </label>
                            @Html.TextBox("first_name", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                        <div class="col">
                            <label>Last Name: </label>
                            @Html.TextBox("last_name", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col">
                            <label>Date of Birth: </label>
                            @Html.DevExpress().DateEdit(settings =>
                   {
                       settings.Name = "dob";
                       settings.Width = Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "yyyy-MM-dd";
                   }).GetHtml()
                        </div>
                        <div class="col">
                            <label>Phone Number: </label>
                            @Html.TextBox("phone_number", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col">
                            <label>Address Line 1: </label>
                            @Html.TextBox("address_line_1", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                        <div class="col">
                            <label>Address Line 2: </label>
                            @Html.TextBox("address_line_2", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col">
                            <label>City: </label>
                            @Html.TextBox("city", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                        <div class="col">
                            <label>Zip Code: </label>
                            @Html.DevExpress().SpinEdit(settings =>
                   {
                       settings.Name = "zip_code";
                       settings.Width = Unit.Percentage(100);
                       settings.Properties.MinValue = 10000;
                       settings.Properties.MaxValue = 99999;
                   }).GetHtml()
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col">
                            <label>State: </label>
                            @Html.TextBox("state", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                        <div class="col">
                            <label>Country: </label>
                            @Html.TextBox("country", "", new { @Class = "form-control", @Type = "text", @Required = "true" })
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-3 mx-2">
                <div class="col">
                    <button type="submit" class="btn btn-success" form="customerForm">Submit Form</button>
                </div>
            </div>

            <div class="row mx-2 mb-2">
                <div class="col">
                    <div id="customerFormResp">
                        @Html.Action("CustomerGridViewPartial")
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            let cForm = $("form[id='customerForm']");
            const cForm_actionLink = cForm.attr("action");
            const cForm_methodType = cForm.attr("method");

            cForm.submit(e => {
                e.preventDefault();

                let input_valArr = [...document.getElementById("customerForm").querySelectorAll("input[type=text]")]
                                        .map(node => (node.value === "") ? 0 : 1);
                let submit_flag = Math.min(...input_valArr);

                if (!submit_flag) {
                    alert("All inputs have not been filled in!");
                } else {
                    $.ajax({
                        url: cForm_actionLink,
                        type: cForm_methodType,
                        data: cForm.serialize(),
                        success: resp => {
                            $("#customerFormResp").html(resp);
                            alert("Customer has been inserted successfully!");
                            $(".to_remove").find("input[type=text], input[type=file], textarea").val("");
                        }
                    });
                }
            });
        });
    </script>
}
