@model dbShopeeAutomationV2.Models.TShopeeProductionDetail

@{
    ViewBag.Title = "Production Detail Form";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@section tmp_script {
    <script type="text/javascript">$(".nav-item:nth-child(2)").children().addClass("active")</script>
}

<div class="container p-3">
    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        <div class="row">
            <div class="col px-4">
                @using (Html.BeginForm("ProductionDetailGridViewPartialAddNew", "ProductionDetail", FormMethod.Post, new { id = "createProductionDetail" }))
                {
                    @Html.HiddenFor(model => model.UOM, new { @Value = "-" })

                    <div class="row">
                        <div class="col-2">
                            <label>Production Title: </label>
                        </div>
                        <div class="col-2">
                            @Html.DropDownListFor(model => model.production_id, ViewData["production_id_option"] as List<SelectListItem>, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="my-1"></div>

                    <div class="row">

                        <!--Change to Select Option-->
                        <div class="col-2">
                            <label>Product SKU: </label>
                        </div>
                        <div class="col-2">
                            @Html.DropDownList("Product SKU", ViewData["product_sku_option"] as List<SelectListItem>, new { @class = "form-select" })
                        </div>

                        <div class="col-2 text-center">
                            <label>Quantity: </label>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.quantity, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>

                    <div class="my-1"></div>

                    <div class="row">

                        <div class="col-2">
                            <label>Manufacture Date: </label>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.manufactured_date, "{0:yyyy-MM-dd}", new { @Class = "form-control", @PlaceHolder = "E.g. 1957-08-31", @type = "date" })
                        </div>

                        <div class="col-2 text-center">
                            <label>Expiry Date: </label>
                        </div>
                        <div class="col-2">
                            @Html.TextBoxFor(model => model.expiry_date, "{0:yyyy-MM-dd}", new { @Class = "form-control", @PlaceHolder = "E.g. 1957-08-31", @type = "date" })
                        </div>

                    </div>

                    <div class="my-3"></div>

                    <div class="row">
                        <div class="col-2">
                            <input type="submit" class="btn btn-outline-primary" value="Add New Production Detail" form="createProductionDetail" />
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="container p-3">
            <div id="productionDetailFormContent">
                @Html.Action("ProductionDetailGridViewPartial")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("form[id='createProductionDetail']").submit(e => {
            e.preventDefault();
            let form = $("form[id='createProductionDetail']");
            const actionLink = form.attr("action");
            const methodType = form.attr("method");

            $.ajax({
                type: methodType,
                url: actionLink,
                data: form.serialize(),
                success: response => {
                    $("#productionDetailFormContent").html(response);
                }
            });

            $("input[name='production_id']").val(0);
            $("input[name='Product SKU']").val("");
            $("input[name='quantity']").val(0);
            $("input[name='manufactured_date']").val("");
            $("input[name='expiry_date']").val("");
        });
    });
</script>