@using dbShopeeAutomationV2.Models
@model TShopeeProductionDetail

@{
    ViewBag.Title = "Production Detail Form";
    Layout = "~/Views/Shared/_ProductionLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();
    int product_count = db.TShopeeProducts.ToList().Count;
    int production_count = db.TShopeeProductions.ToList().Count;
}

@if (product_count <= 0 || production_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    @if (product_count <= 0)
                    {
                        <li>There are no existing products. Please make a product before you proceed!</li>
                    }
                    @if (production_count <= 0)
                    {
                        <li>There are no existing productions. Please make a production before you proceed!</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            <div class="row">
                <div class="col px-4">
                    @using (Html.BeginForm("ProductionDetailGridViewPartialAddNew", "ProductionDetail", FormMethod.Post, new { id = "createProductionDetail" }))
                {
                        @Html.HiddenFor(model => model.UOM, new { @Value = "-" })

                        <div class="row">
                            <div class="col-2">
                                <label>Production Title: </label>
                            </div>
                            <div class="col-2">
                                @Html.DevExpress().ComboBox(settings =>
                           {
                               settings.Name = "production_id";
                               settings.Width = 240;
                               settings.SelectedIndex = 0;
                               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                               settings.Properties.TextField = "title";
                               settings.Properties.ValueField = "production_id";
                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                               settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                           }).BindList(db.TShopeeProductions.ToList()).GetHtml()
                            </div>
                        </div>

                        <div class="my-1"></div>

                        <div class="row">

                            <!--Change to Select Option-->
                            <div class="col-2">
                                <label>Product SKU: </label>
                            </div>
                            <div class="col-2">
                                @Html.DevExpress().ComboBox(settings =>
                           {
                               settings.Name = "product_id";
                               settings.Width = 180;
                               settings.SelectedIndex = 0;
                               settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                               settings.Properties.TextField = "SKU";
                               settings.Properties.ValueField = "product_id";
                               settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                               settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                           }).BindList(db.TShopeeProducts.ToList()).GetHtml()
                            </div>

                            <div class="col-2 text-center">
                                <label>Quantity: </label>
                            </div>
                            <div class="col-2">
                                @Html.DevExpress().SpinEdit(settings =>
                       {
                           settings.Name = "quantity";
                           settings.Properties.MinValue = 0;
                           settings.Properties.MaxValue = 10000000;
                       }).Bind(Model).GetHtml()
                            </div>
                        </div>

                        <div class="my-1"></div>

                        <div class="row">

                            <div class="col-2">
                                <label>Manufacture Date: </label>
                            </div>
                            <div class="col-2">
                                @Html.DevExpress().DateEdit(settings =>
                       {
                           settings.Name = "manufactured_date";
                           settings.Properties.DisplayFormatString = "yyyy-MM-dd";
                           settings.Width = Unit.Percentage(100);
                       }).GetHtml()
                            </div>

                            <div class="col-2 text-center">
                                <label>Expiry Date: </label>
                            </div>
                            <div class="col-2">
                                @Html.DevExpress().DateEdit(settings =>
                       {
                           settings.Name = "expiry_date";
                           settings.Properties.DisplayFormatString = "yyyy-MM-dd";
                           settings.Width = Unit.Percentage(100);
                       }).GetHtml()
                            </div>

                        </div>

                        <div class="my-3"></div>

                        <div class="row">
                            <div class="col-2">
                                <input type="submit" class="btn btn-outline-primary" value="Add New Production Detail" form="createProductionDetail" />
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="p-3">
                <div id="productionDetailFormContent">
                    @Html.Action("ProductionDetailGridViewPartial")
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        $("form[id='createProductionDetail']").submit(e => {
            e.preventDefault();
            let form = $("form[id='createProductionDetail']");
            const actionLink = form.attr("action");
            const methodType = form.attr("method");

            $.ajax({
                type: methodType,
                url: actionLink,
                data: form.serialize(),
                success: response => {
                    $("#productionDetailFormContent").html(response);
                }
            });

            $("input[name='production_id']").val(0);
            $("input[name='Product SKU']").val("");
            $("input[name='quantity']").val(0);
            $("input[name='manufactured_date']").val("");
            $("input[name='expiry_date']").val("");
        });
    });
    </script>
}