@model dbShopeeAutomationV2.Models.TShopeePlatform

@{
    ViewBag.Title = "Platform Form";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}

<div class="p-3">
    <div class="border border-dark">
        <div class="row">
            <div class="col">
                <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
            </div>
        </div>

        @using (Html.BeginForm("PlatformGridViewPartialAddNew", "Platform", FormMethod.Post, new { enctype = "multipart/form-data", @Id="platformForm"}))
        {
            @Html.HiddenFor(model => model.platform_id, new { @Value = 0 })
            @Html.HiddenFor(model => model.detail_id, new { @Value = 0 })

            <div class="row m-2">
                <div class="col">
                    <label for="platformName">Platform Name</label>
                    @Html.TextBoxFor(model => model.name, new { @Class = "form-control", @Type="text", @Required = "true" })
                </div>
                <div class="col">
                    <label for="fileUpload">Excel File</label>
                    <input type="file" class="form-control" name="fileUpload" />
                </div>
            </div>
        }

        <div class="row mt-3 mx-2">
            <div class="col">
                <button type="submit" class="btn btn-primary" form="platformForm">Submit</button>
            </div>
        </div>

        <div class="row m-2">
            <div class="col">
                <div id="platformFormContent">
                    @Html.Action("PlatformGridViewPartial")
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        let form = $("form[id='platformForm']");
        const actionLink = form.attr("action");
        const methodType = form.attr("method");

        form.submit(e => {
            e.preventDefault();

            let fData = new FormData(form[0]);

            $.ajax({
                url: actionLink,
                type: methodType,
                enctype: 'multipart/form-data',
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: fData,
                success: resp => {
                    $("#platformFormContent").html(resp);
                    form.find("input[type=text], textarea").val("");
                }
            });
        })
    });
</script>
