@using dbShopeeAutomationV2.Models;

@{
    ViewBag.Title = "Shipment Form";
    Layout = "~/Views/Shared/_ShipmentLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();

    List<mStockWarehouse> swList = new List<mStockWarehouse>();
    db.TShopeeStockWarehouses.ToList().ForEach(it =>
    {
        string name = it.name;
        string address = $"{it.address_line_1}, {it.address_line_2}, {it.city}, {it.zip_code}, {it.state}, {it.country}";
        swList.Add(new mStockWarehouse(name, address));
    });

    int invoice_count = db.TShopeeInvoices.ToList().Count;
    int carrier_count = db.TShopeeCarriers.ToList().Count;
    int shipment_status_count = db.TShopeeShipmentStatus.ToList().Count;

    int c_inc_sta_id = dbStatusFunction.invoiceStatusID("complete");
}

@if (invoice_count <= 0 || carrier_count <= 0 || shipment_status_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    @if (invoice_count <= 0)
                    {
                        <li>There are no existing invoice! Please make an invoice before you proceed! </li>
                    }
                    @if (carrier_count <= 0)
                    {
                        <li>There are no existing carriers! Please make a carrier before you proceed! </li>
                    }
                    @if (shipment_status_count <= 0)
                    {
                        <li>There are no existing shipment Status! Please make a shipment status before you proceed! </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">

            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("ShipmentGridViewPartialAddNew", "Shipment", FormMethod.Post, new { @Id = "shipmentForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="row m-2">
                    <div class="col input_req">
                        <label>Departure Point: </label>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "start_location";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueField = "address";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(swList).GetHtml()
                    </div>
                    <div class="col to_remove">
                        <label>Destination Address: </label>
                        @Html.TextBox("destination", "", new { @Class="form-control", @Type="text", @Required = "true"})
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col to_remove">
                        <label>Tracking ID: </label>
                        @Html.TextBox("tracking_id", "", new { @Class = "form-control", @Type = "text", @Placeholder = "Optional", @Required = "true" })
                    </div>
                    <div class="col">
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col input_req">
                        <label>Invoice Code: </label>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "invoice_id";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "invoice_title";
                       settings.Properties.ValueField = "invoice_id";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(db.TShopeeInvoices.Where(it => it.invoice_status_id == c_inc_sta_id).ToList()).GetHtml()
                    </div>
                    <div class="col input_req">
                        <label>Carrier: </label>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "carrier_id";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueField = "carrier_id";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(db.TShopeeCarriers.ToList()).GetHtml()
                    </div>
                </div>
            }

            <div class="row mt-3 mx-2">
                <div class="col">
                    <button type="submit" class="btn btn-success" form="shipmentForm">Submit Form</button>
                </div>
            </div>

            <div class="row mx-2 mb-2">
                <div class="col">
                    <div id="shipmentFormResp">
                        @Html.Action("ShipmentGridViewPartial")
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="p-1">
        <ul>
            <li class="fst-italic">If you are unable to select a specific invoice, please check and ensure invoice status is marked as 'Complete'.</li>
        </ul>
    </div>

    <script type="text/javascript">
        $(function () {
            let shipmentForm = $("form[id='shipmentForm']");
            const shipmentForm_actionLink = shipmentForm.attr("action");
            const shipmentForm_methodType = shipmentForm.attr("method");

            shipmentForm.submit(e => {
                e.preventDefault();

                let input_valArr = [...document.getElementsByClassName("input_req")]
                .map((node, ind) => node.querySelector("input[type=text]").value)
                .map(node => (node == "") ? 0 : 1);
                let submit_flag = Math.min(...input_valArr);

                if (!submit_flag) {
                    alert("Not all necessary inputs have been filled in!");
                } else {
                    $.ajax({
                        url: shipmentForm_actionLink,
                        type: shipmentForm_methodType,
                        data: shipmentForm.serialize(),
                        success: resp => {
                            $("#shipmentFormResp").html(resp);
                            alert("A new shipment has been successfully inserted!");
                            $(".to_remove").find("input[type=text], textarea").val("");
                        }
                    });
                }
            });
        });
    </script>
}

