@using dbShopeeAutomationV2.Models;

@{
    ViewBag.Title = "Job Order Form";
    Layout = "~/Views/Shared/_ProductionLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();
    int production_status_count = db.TShopeeProductionStatus.ToList().Count;
    int product_count = db.TShopeeProducts.ToList().Count();
}

@if (production_status_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    <li>There is no existing Production Status. Please make a production status before you proceed!</li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("ProductionGridViewPartialAddNew", "Production", FormMethod.Post, new { @Id = "productionForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="row m-2">
                    <div class="col">
                        <label>Title: </label>
                        @Html.TextBox("title", "", new { @Class = "form-control", @Placeholder = "Optional" , @Type = "text", @Required = "true"})
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label>Staff Name: </label>
                        @Html.TextBox("staff_name", "", new { @Class = "form-control", @Placeholder = "Optional", @Type = "text", @Required = "true" })
                    </div>
                    <div class="col">
                        <label>Date: </label>
                        @Html.DevExpress().DateEdit(settings =>
                   {
                       settings.Name = "created_date";
                       settings.Properties.DisplayFormatString = "yyyy-MM-dd";
                       settings.Width = Unit.Percentage(100);
                   }).GetHtml()
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label>Description</label>
                        @Html.TextArea("description", "", new { @class = "form-control", @placeholder = "Insert Description Here..." , @Required = "true"})
                    </div>
                </div>
            }

            <div class="row mt-3 mx-2">
                <div class="col">
                    <button type="submit" form="productionForm" class="btn btn-success">Submit Form</button>
                </div>
            </div>

            <div class="row mx-2 mb-2">
                <div class="col">
                    <div id="productionFormResp">
                        @Html.Action("ProductionGridViewPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-1">
        <ul>
            @if (product_count <= 0)
            {
                <li class="fst-italic">There are no products created.</li>
            }
            <li class="fst-italic">Please do not modify Job Scopes marked as "Complete". Please create a seperate Job Scopes if you have marked the previous one as "Complete".</li>
        </ul>
    </div>



    <script type="text/javascript">
        $(function () {
            let productionForm = $("form[id='productionForm']");
            const form_actionLink = productionForm.attr("action");
            const form_methodType = productionForm.attr("method");

            productionForm.submit(e => {
                e.preventDefault();

                $.ajax({
                    url: form_actionLink,
                    type: form_methodType,
                    data: productionForm.serialize(),
                    success: resp => {
                        $("#productionFormResp").html(resp);
                        alert("Production has been successfully inserted!");
                        productionForm.find("input[type=text], textarea").val("");
                    }
                })
            });

        });
    </script>
}

