@using dbShopeeAutomationV2.Models;
@model IList<ProductSummary>

<section>
    <div class="card">
        <div class="card-body p-3">
            <div class="border border-dark">
                <table class="table table-borderless text-center">
                    <thead>
                        <tr class="bg-dark">
                            <th colspan="6" class="text-white h2">Product Summary Listing</th>
                        </tr>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Model</th>
                            <th>Type</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int ind = 0; ind < Model.ToList().Count; ind++)
                        {
                            var product = Model.ElementAt(ind);
                            string no = $"{ind + 1}.";
                            <tr>
                                <td>@no</td>
                                <td>@product.name</td>
                                <td>@product.product_brand</td>
                                <td>@product.product_category</td>
                                <td>@product.product_model</td>
                                <td>@product.product_type</td>
                                <td>@product.quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>