@using dbShopeeAutomationV2.Models;

@{
    ViewBag.Title = "Invoice Form";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();

    List<mCustomer> customerList = new List<mCustomer>();
    db.TShopeeCustomers.ToList().ForEach(it =>
    {
        string name = $"{it.first_name} {it.last_name}";
        customerList.Add(new mCustomer(it.customer_id, name));
    });

    int order_count = db.TShopeeOrders.ToList().Count;
    int customer_count = db.TShopeeCustomers.ToList().Count;
    int invoice_status_count = db.TShopeeInvoiceStatus.ToList().Count;
    int payment_method_count = db.TShopeePaymentMethods.ToList().Count;
}

@if (order_count <= 0 || customer_count <= 0 || invoice_status_count <= 0 || payment_method_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    @if (order_count <= 0)
                    {
                        <li>There are no existing orders! Please make an order before you proceed! </li>
                    }
                    @if (customer_count <= 0)
                    {
                        <li>There are no existing customers! Please make a customer before you proceed! </li>
                    }
                    @if (invoice_status_count <= 0)
                    {
                        <li>There are no existing invoice Status! Please make an invoice Status before you proceed! </li>
                    }
                    @if (payment_method_count <= 0)
                    {
                        <li>There are no existing payment Methods! Please make a payment method before you proceed! </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("InvoiceGridViewPartialAddNew", "Invoice", FormMethod.Post, new { @Id = "invoiceForm"}))
            {
                <div class="row m-2">
                    <div class="col">
                        <label>Invoice Code: </label>
                        @Html.TextBox("invoice_title", "", new { @Class="form-control", @Type="text", @Required="true"})
                    </div>
                    <div class="col">
                        <label>Payment Method: </label>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "payment_method_id";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueField = "payment_method_id";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(db.TShopeePaymentMethods.ToList()).GetHtml()
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label>Customer Name: </label>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "customer_id";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "name";
                       settings.Properties.ValueField = "customer_id";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(customerList).GetHtml()
                    </div>
                    <div class="col">
                        <label>Order Title: </label>
                        @Html.DevExpress().ComboBox(settings =>
                   {
                       settings.Name = "order_id";
                       settings.Width = Unit.Percentage(106);
                       settings.SelectedIndex = 0;
                       settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                       settings.Properties.TextField = "order_title";
                       settings.Properties.ValueField = "order_id";
                       settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                       settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                   }).BindList(db.TShopeeOrders.ToList()).GetHtml()
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label>Invoice Details: </label>
                        @Html.TextArea("invoice_details", "", new { @Class="form-control"})
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label>Shipping Fee: </label>
                        @Html.DevExpress().SpinEdit(settings => {
                       settings.Name = "shipping_fee";
                       settings.Width = Unit.Percentage(49);
                       settings.Properties.MinValue = 0;
                       settings.Properties.MaxValue = 10000000;
                       settings.Properties.Increment = 0.1M;
                       settings.Properties.DisplayFormatString = "C";
                   }).GetHtml()
                    </div>
                </div>
            }

            <div class="row mt-3 mx-2">
                <div class="col">
                    <button type="submit" class="btn btn-success" form="invoiceForm">Submit Form</button>
                </div>
            </div>

            <div class="row mx-2 mb-2">
                <div class="col">
                    <div id="invoiceFormResp">
                        @Html.Action("InvoiceGridViewPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-1">
        <ul>
            <li class="fst-italic">If you are unable to select a specific orders, please check and ensure order status is marked as 'Complete'.</li>
        </ul>
    </div>

    <script type="text/javascript">
        $(function () {
            let iForm = $("form[id='invoiceForm']");
            const iForm_actionLink = iForm.attr("action");
            const iForm_methodType = iForm.attr("method");

            iForm.submit(e => {
                e.preventDefault();

                $.ajax({
                    url: iForm_actionLink,
                    type: iForm_methodType,
                    data: iForm.serialize(),
                    success: resp => {
                        $("#invoiceFormResp").html(resp);
                        alert("Invoice has been inserted successfully!");
                        iForm.find("input[type=text], textarea").val("");
                    }
                })
            });
        });
    </script>
}

