@using dbShopeeAutomationV2.Models;

@{
    ViewBag.Title = "Product Component Form";
    Layout = "~/Views/Shared/_ProductionLayout.cshtml";

    dbShopeeAutomationV2Entities db = new dbShopeeAutomationV2Entities();

    int product_count = db.TShopeeProducts.ToList().Count;
}

@if (product_count <= 0)
{
    <div class="p-3">
        <div class="warning_div border border-danger">
            <div class="row">
                <div class="col">
                    <div class="text-white text-center fw-bold h2 bg-danger">
                        Error!
                    </div>
                </div>
            </div>
            <div class="text-black h4">
                <ul>
                    <li>There is no existing Products. Please make a product before you proceed! </li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="p-3">
        <div class="border border-dark">
            <div class="row">
                <div class="col">
                    <div class="bg-dark text-center h1 text-white">@ViewBag.Title</div>
                </div>
            </div>

            @using (Html.BeginForm("ProductComponentGridViewPartialAddNew", "ProductComponent", FormMethod.Post, new { @Id = "productComponentForm" }))
            {
                <div class="row m-2">
                    <div class="col">
                        <label>Master Product SKU: </label>
                        @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "master_product_id";
                        settings.Width = Unit.Percentage(106);
                        settings.SelectedIndex = 0;
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.TextField = "SKU";
                        settings.Properties.ValueField = "product_id";
                        settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    }).BindList(db.TShopeeProducts.ToList()).GetHtml()
                    </div>
                    <div class="col">
                        <label>Sub Product SKU: </label>
                        @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "sub_product_id";
                        settings.Width = Unit.Percentage(106);
                        settings.SelectedIndex = 0;
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.TextField = "SKU";
                        settings.Properties.ValueField = "product_id";
                        settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.OnHover;
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    }).BindList(db.TShopeeProducts.ToList()).GetHtml()
                    </div>
                </div>

                <div class="row m-2">
                    <div class="col">
                        <label>Quantity: </label>
                        @Html.DevExpress().SpinEdit(settings =>
                   {
                       settings.Name = "quantity";
                       settings.Width = Unit.Percentage(49);
                       settings.Properties.MinValue = 0;
                       settings.Properties.MaxValue = 10000000;
                   }).GetHtml()
                    </div>
                </div>
            }

            <div class="row mt-3 mx-2">
                <div class="col">
                    <button type="submit" class="btn btn-success" form="productComponentForm">Submit Form</button>
                </div>
            </div>

            <div class="row mx-2 mb-2">
                <div class="col">
                    <div id="productComponentFormResp">
                        @Html.Action("ProductComponentGridViewPartial")
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            let pcForm = $("form[id='productComponentForm']");
            const pcForm_actionLink = pcForm.attr("action");
            const pcForm_methodType = pcForm.attr("method");

            pcForm.submit(e => {
                e.preventDefault();

                $.ajax({
                    url: pcForm_actionLink,
                    type: pcForm_methodType,
                    data: pcForm.serialize(),
                    success: resp => {
                        $("#productComponentFormResp").html(resp);
                        alert("Product Component has been inserted successfully!");
                        pcForm.find("input[type=text], textarea").val("");
                    }
                });
            });
        });
    </script>
}

